<div class="relative text-white" #selectRef>
<button
    (click)="toggleSelect()"
    class="w-full relative z-20 bg-black p-2 border rounded text-left"
>
    {{ selectedOption?.label || label }}
</button>
@if (isOpen) {
<ul
    class="absolute z-30 w-full mt-1 bg-black border rounded transition-all duration-200 ease-in-out"
>
@for (option of options; track option.label) {
    <li
        (click)="handleOptionClick(option)"
        class="p-2 hover:bg-gray-700 cursor-pointer"
    >
        {{ option.label }}
    </li>
}
</ul>
}
</div>
