<div class="container space-y-8">
    <app-confirm (onConfirm)="handleDeleteConfirmation(chat)">
        <app-button>Delete chat</app-button>
    </app-confirm>
    @if(chat) {
    @for (question of chat.questions; track question.content ) {
        <div class="mb-5">
            <h2 class="p-2 rounded bg-slate-700 mb-1">{{question.content}}</h2>
            <pre
                class="p-2 text-left w-11/12 bg-slate-900 rounded ml-auto mr-0 overflow-auto"
                [ngClass]="{
                    'whitespace-pre': question.answer.includes('```'),
                    'whitespace-pre-line': !question.answer.includes('```'),
                }"
            >
                {{question.answer}}
            </pre>
        </div>
    } }
    <hr />


    <form [formGroup]="questionForm" class="space-y-3" (ngSubmit)="onSubmit()">
        <textarea type="input" class="bg-slate-900" formControlName="question"></textarea>
        <app-select
            [options]="chatOptions"
            [defaultOption]="defaultOption"
            (optionChange)="onOptionChange($event)"
        ></app-select>
        <div class="flex justify-end">
            <app-button type="submit">Submit</app-button>
        </div>
    </form>
</div>