@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.arrow.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@layer base {
  a {
    @apply underline;
  }
  textarea {
    @apply block resize-none p-2.5 w-full text-gray-900 bg-gray-50 rounded dark:bg-gray-700 dark:placeholder-gray-400 dark:text-white;
  }
  .absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
  }
}
